@tailwind base;
@tailwind components;
@tailwind utilities;

.page__container {
  max-width: 1100px;
  margin: auto;
}

.headline--xlarge {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;  
}
.headline--large {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}
.headline--medium {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
.headline--small {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.headline--xsmall {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}
.headline--xxsmall {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.two-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.three-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.four-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}